div.nb-cell.code {
    clear: both;
}
div.nb-cell.code div.sourceCode {
    outline-color: black;
    outline-style: solid;
    display: inline-block;
}

div.nb-cell.markdown.note {
    background-color: rgb(114, 183, 196);
    display: inline-block;
}